section{background-image:url("images/header.png");width:100%;height:800px;background-size:cover;background-attachment: fixed;}
.overlap{background-color:rgba(0,0,0,0.1;}
.img-cover{background-size:cover;}